{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load django_simple_bulma %}
{% bulma %}
{% font_awesome %}
{% block content %}
    <div class="container">
        <section class="section">
            <div class="notification mt-5">
                Calcul du volume sanguin de réserve et stratégie d'épargne.
            </div>
            <div>
                {% if volume <= 0 %}
                    <div class="alert alert-danger" role="alert">
                        {{ conclusion }}
                    </div>
                {% endif %}
                {% if volume %}
                    <div class="notification is-info mb-3">
                        Volume de réserve = {{ volume|floatformat:0 }} ml à 100% d'hématocrite
                        {% if manque > 0 %}
                            - Volume à compenser : {{ manque|floatformat:0 }} ml
                        {% else %}
                            - Le volume de réserve est supérieur aux pertes prévisibles
                        {% endif %}
                    </div>
                    <div class="notification is-warning mb-3">
                        {{ conclusion }}
                    </div>
                {% endif %}
            </div>

            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                    <form class="box" action="" method="post">
                        {% csrf_token %}
                        <div class="field">
                            <label for="id_gender" class="form-label">Genre</label>
                            {{ form.gender|add_class:"input" }}
                        </div>
                        <div class="field">
                            <label for="id_weight" class="form-label">Poids (kg)</label>
                            {{ form.weight|add_class:"input" }}
                        </div>
                        <div class="field">
                            <label for="id_blood_loss" class="form-label">Pertes prévues</label>
                            {{ form.blood_loss|add_class:"input" }}
                        </div>
                        <div class="field">
                            <label for="id_hemacrit_init" class="form-label">Hématocrite initial</label>
                            {{ form.hemacrit_init|add_class:"input" }}
                        </div>
                        <div class="field">
                            <label for="id_hemacrit_final" class="form-label">Hématocrite final</label>
                            {{ form.hemacrit_final|add_class:"input" }}
                        </div>
                        <input class="button is-primary" type="submit" value="Envoyer"/>
                        <a href="{% url 'blood' %}" class="button is-info" role="button">Effacer</a>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}