{% extends "base.html" %}
{% block title %}Remplacements{% endblock %}
{% block content %}
    <div class="container">
        <div class="card mt-5"></div>
        <div class="card-header"><strong>Calendrier des remplacements</strong></div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
        <div class="card mt-2">
            <div class="card-header h4"><strong>Liste des remplacements</strong></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-striped table-hover table-sm" id="event-table">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Titulaire</th>
                                <th>Remplaçant</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% include 'subdivision/event/partial_event_list.html' %}
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">

                                {% if events.has_previous %}
                                    <li class="page-item"><a class="page-link fa fa-fast-backward" aria-hidden="true"
                                                             href="?page=1"></a></li>
                                    <li class="page-item"><a class="page-link fa fa-backward" aria-hidden="true"
                                                             href="?page={{ events.previous_page_number }}"></a></li>
                                {% endif %}
                                <li class="page-item mt-1 small">&emsp;Page {{ events.number }}
                                    de {{ events.paginator.num_pages }}&emsp;
                                </li>
                                {% if events.has_next %}
                                    <li class="page-item small"><a class="page-link fa fa-forward" aria-hidden="true"
                                                                   href="?page={{ events.next_page_number }}"></a></li>
                                    <li class="page-item small"><a class="page-link fa fa-fast-forward"
                                                                   aria-hidden="true"
                                                                   href="?page={{ events.paginator.num_pages }}"></a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block modal %}
    <div class="modal fade" id="modal-event">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>
{% endblock modal %}
{% block script %}
    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                timeZone: 'Europe/Paris',
                defaultView: 'month',
                selectHelper: true,
                eventTextColor: '#f0ffff',
                height: 'auto',
                aspectRatio: 1.8,
                header: {
                    left: 'prevYear,nextYear',
                    center: 'today title prev,next',
                    right: 'month,listMonth'
                },
                buttonText: {
                    listWeek: 'Week',
                    listMonth: 'Liste du mois'
                },
                defaultDate: Date.now(),
                locale: 'fr',
                buttonIcons: true, // show the prev/next text
                weekNumbers: true,
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: '/sub/events.json',
                themeSystem: 'standard',
                selectable: true,
                select: function (start, end, jsEvent, view) {
                    var startday = start.format("DDMMYYYYHHMMSS");
                    var endday = end.format("DDMMYYYYHHMMSS");
                    window.location.href = '/sub/create/' + startday + '/' + endday;
                },
                eventClick: function (event, jsEvent, view) {
                    var id = event.id;
                    window.location.href = '/sub/update/' + id;
                },
                eventResize: function (event, delta, revertFunc) {

                    if (!confirm("Confirmez-vous cette modification ?")) {
                        revertFunc();
                    } else {
                        var id = event.id;
                        var end = event.end.format("DDMMYYYYHHMMSS");
                        window.location.href = '/sub/resize/' + id + '/' + end;
                    }
                },
                eventDrop: function (event, delta, revertFunc) {

                    if (!confirm("Confirmez-vous cette modification ?")) {
                        revertFunc();
                    } else {
                        var id = event.id;
                        var start = event.start.format("DDMMYYYYHHMMSS");
                        var end = event.end.format("DDMMYYYYHHMMSS");
                        window.location.href = '/sub/drop/' + id + '/' + start + '/' + end;
                    }
                },
            });
        });
    </script>
    <script>
        $(function () {

            /* Functions */

            var loadForm = function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-event .modal-content").html("");
                        $("#modal-event").modal("show");
                    },
                    success: function (data) {
                        $("#modal-event .modal-content").html(data.html_form);
                    }
                });
            };

            var saveForm = function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: 'json',
                    success: function (data) {
                        if (data.form_is_valid) {
                            $("#event-table tbody").html(data.html_event_list);
                            $("#modal-event").modal("hide");
                        } else {
                            $("#modal-event .modal-content").html(data.html_form);
                        }
                    }
                });
                return false;
            };


            /* Binding */

            // Update repart
            $("#event-table").on("click", ".js-view-event", loadForm);
            $("#modal-event").on("submit", ".js-event-update-form", saveForm);

            // Delete repart
            $("#event-table").on("click", ".js-delete-event", loadForm);
            $("#modal-event").on("submit", ".js-event-delete-form", saveForm);

        });

    </script>
{% endblock %}
