{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}Liste des IADEs{% endblock %}
{% block titre %}Liste des IADEs{% endblock %}>
{% block extrahead %}
    <link href="{% static 'css/datatables/datatables.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card  mt-5">
            <div class="card-header font-weight-bold">Liste des IADEs
                <a href="{% url 'iade_create' %}" class="btn btn-info pull-right"
                   role="button">Nouveau</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="dataTable">
                        <thead>
                        <tr>
                            <th>Actions</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Tél. mob.</th>
                            <th>Tél. hôp.</th>
                            <th>Email</th>
                            <th>Supp.</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for iade in object_list %}
                            <tr>
                                <td class="btn-group" role="group">
                                    <a class="btn btn-outline-info btn-secondary form-control fa fa-address-card"
                                       href="{% url 'iade_detail' iade.id %}"></a>
                                    <a class="btn btn-outline-success btn-secondary form-control fa fa-edit"
                                       href="{% url 'iade_update' iade.id %}"></a>
                                </td>
                                <td>{{ iade.name|upper }}</td>
                                <td>{{ iade.forname|capfirst }}</td>
                                <td><a href="tel:{{ iade.telmob }}">{{ iade.telmob }}</a></td>
                                <td>{{ iade.phone_hop }}</td>
                                <td><a href="mailto:{{ iade.email }}">{{ iade.email }}</a></td>
                                <td><a class="btn btn-outline-danger btn-secondary fa fa-trash"
                                       href="{% url 'iade_delete' iade.id %}"></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({

                "scrollY": "500px",
                "scrollCollapse": true,
                "paging": false,
                "language": {"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"},
                "date_euro": {"url": "//cdn.datatables.net/plug-ins/1.10.20/sorting/date-euro.js"},
                autowidth: false,
                pageLength: 200,
                responsive: true,
                order: [[1, "asc"]],
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {
                        extend: 'colvis',
                        text: "Masquer",
                        postfixButtons: ['colvisRestore']
                    },
                    {
                        extend: 'csv',
                    },
                    {
                        extend: 'excel',
                    },
                    {
                        extend: 'pdf',
                    },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '12px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ],
            });
            $('a.toggle-vis').on('click', function (e) {
                e.preventDefault();

                // Get the column API object
                var column = table.column($(this).attr('data-column'));

                // Toggle the visibility
                column.visible(!column.visible());
            });
        });
    </script>
{% endblock %}

