{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="card mb-3" style="max-width: 840px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{% static 'icons/accueil.png' %}" class="rounded mx-auto d-block">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">SUBDIVISION</h5>
                        <p class="card-text">Application pour la gestion des remplacements médicaux et la
                            répartition journalière des équipes au bloc</p>
                        <p>A l'usage exclusif du GARHPA</p>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#knowModal" role="button"
                        >En savoir plus...
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ml-3">
            {% if request.user.is_authenticated %}
                <div>Vous êtes authentifié comme {{ user.username }}<br>
                    <a data-toggle="modal" data-target="#logoutModal" href="#">Se déconnecter</a>
                </div>
            {% else %}
                <a href="{% url 'login' %}">S'authentifier</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
