{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Mise à jour d'un IADE{% endblock %}
{% block titre %}Mise à jour{% endblock %}
{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="card  mt-3">
                <div class="card-header font-weight-bold">
                    <div class="row  justify-content-between">
                        <div class="'col-4 ml-3">
                            Contact
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3 text-left">
                            {{ form.name }}
                        </div>
                        <div class="col-sm-3 text-left">
                            {{ form.forname }}
                        </div>
                        <div class="col-sm-3 text-left">
                            {{ form.telmob }}
                        </div>
                        <div class="col-sm-3 text-left">
                            {{ form.phone_hop }}
                        </div>
                        <div class="col-sm-3 text-left">
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-sm-3">
                                <div><input class="btn btn-success pull-left" type="submit" value="Envoyer"/></div>
                            </div>
                            <div class="col-sm-3">
                                <div><a href="{% url 'iade_list' %}" class="btn btn-info pull-left"
                                        role="button">Annuler</a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block script %}
{% endblock %}
