{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Mise à jour d'un IADE{% endblock %}
{% block titre %}Mise à jour{% endblock %}
{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="card  mt-3">
                <div class="card-header font-weight-bold">
                    <div class="row  justify-content-between">
                        <div class="'col-4 ml-3">
                            Contact
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="id_name" class="form-label">Nom</label>
                            {{ form.name|attr:"class:form-control" }}
                        </div>
                        <div class="col-sm-3">
                            <label for="id_forname" class="form-label">Prénom</label>
                            {{ form.forname|attr:"class:form-control" }}
                        </div>
                        <div class="col-sm-3">
                            <label for="id_telmob" class="form-label">Tél. mobile</label>
                            {{ form.telmob|attr:"class:form-control" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 mt-2">
                            <label for="id_phone_hop" class="form-label">Poste</label>
                            {{ form.phone_hop|attr:"class:form-control" }}
                        </div>
                        <div class="col-sm-3 mt-2">
                            <label for="id_email" class="form-label">Mail</label>
                            {{ form.email|attr:"class:form-control" }}
                        </div>
                        <div class="col-sm-3 mt-2">
                            <label for="id_statut" class="form-label">Statut</label>
                            {{ form.statut|attr:"class:form-control" }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-3">
                    <div><input class="btn btn-success pull-left" type="submit" value="Envoyer"/></div>
                </div>
                <div class="col-sm-3">
                    <div><a href="{% url 'iade_list' %}" class="btn btn-info pull-left"
                            role="button">Annuler</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
