{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Détail d'un IADE{% endblock %}
{% block extrahead %}
{% endblock %}
{% block titre %}Fiche de {{ object.forname|title }} {{ object.name|upper }}{% endblock %}>
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-5 text-left">
                <div class="card  mt-5">
                    <div class="card-header font-weight-bold">Détail
                        de {{ object.forname|title }} {{ object.name|upper }}
                    </div>
                    <div class="card-body">
                        <p>Nom : {{ object.name|upper }}</p>
                        <p>Prénom : {{ object.forname|title }}</p>
                        <p>Mobile : {{ object.telmob|default_if_none:'Non renseigné' }}</p>
                        <p>Email : <a href="mailto:{{ object.email }}">{{ object.email|default_if_none:'Non renseigné'  }}</a></p>
                    </div>
                </div>
            </div>
            <div class="col-5 text-left">
                <div class="card  mt-5">
                    <div class="card-body">
                        <p>Tél. mobile : {{ object.telmob|default_if_none:'Non renseigné'  }}</p>
                        <p>Tél. travail : {{ object.phone_hop|default_if_none:'Non renseigné'  }}</p>
                        <p>Statut : {{ object.statut|default_if_none:'Non renseigné'  }}</p>
                    </div>
                </div>
            </div>
        </div>
        <a href="{% url 'iade_list' %}" class="btn btn-primary pull-left mt-5"
           role="button">Retour</a>
    </div>
{% endblock %}
{% block script %}
{% endblock %}