{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}IADEs{% endblock %}
{% block titre %}Mise à jour{% endblock %}
{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="card  mt-5">
                <div class="card-header font-weight-bold">Contact</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3 text-left">
                            {{ form.name|as_crispy_field }}
                        </div>
                        <div class="col-sm-3 text-left">
                            {{ form.forname|as_crispy_field }}
                        </div>
                        <div class="col-sm-3 text-left">
                            {{ form.statut|as_crispy_field }}
                        </div>
                        <div class="col-sm-3 text-left">
                            {{ form.telmob|as_crispy_field }}
                        </div>
                        <div class="col-sm-3 text-left">
                            {{ form.phone_hop|as_crispy_field }}
                        </div>
                        <div class="col-sm-3 text-left">
                            {{ form.email|as_crispy_field }}
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div><input class="btn btn-success pull-left" type="submit" value="Envoyer"/></div>
                            </div>
                            <div class="col-sm-3">
                                <div><a href="{% url 'iade_list' %}" class="btn btn-info pull-left"
                                        role="button">Annuler</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block script %}
{% endblock %}
