{% load static %}
<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Remplacement</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">ANNEXE CALENDAIRE AU CONTRAT DE REMPLACEMENT</h3>
        </div>
    </div>
    <div class="row mt-5">
        <table class="table table-bordered">
            <tbody>
            <tr class="text-center">
                <td>
                    ORDRE DES MEDECINS<br>
                    CONSEIL DEPARTEMENTAL<br>
                    DES HAUTS DE SEINE
                    <br>
                    51, RUE BAUDIN<br>
                    92593 LEVALLOIS PERRET CEDEX<br>
                    TÉL: 0147334747 * FAX: 0147913868
                </td>
                <td style="color: white">
                    ORDRE DES MEDECINS<br>
                    CONSEIL DEPARTEMENTAL<br>
                    DES HAUTS DE SEINE
                    <br>
                    51, RUE BAUDIN<br>
                    92593 LEVALLOIS PERRET CEDEX<br>
                    TÉL: 0147334747 * FAX: 0147913868
                </td>
            </tr>
            </tbody>
        </table>
        <br><br>
        <p> {{ hop.town|upper }} le &ensp; {{ date|slice:"10" }}</p>
        <br><br><br>

    </div>
    <div class="row mt-5">
        <div class="col-12">
            <p class="font-weight-bold">
                Signée entre le </br>  Docteur {{ are.forname|title }} {{ are.name|upper }} - N°
                d'inscription: {{ are.numCo }}
                exerçant: {{ hop.name|upper }} {{ hop.adress1 }}
                {% if hop.adress2 %}{{ hop.adress2 }}{% endif %} {{ hop.postalcode }} {{ hop.town }}
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <p class="font-weight-bold">
                Et  </br>   {{ rpt.forname|title }} {{ rpt.name|upper }}
            </p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            Remplacements et tours de garde: &ensp; {{ date }}
        </div>
    </div>
    <br><br><br><br><br><br><br><br>

    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr class="text-center">
                <th>Signature du médecin remplacé</th>
                <th>Signature du remplaçant</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center">
                <!--<td><br><img src='{{ signpath }}' width="50%"><br></td>-->
                <td><br><br></td>
                <td><br><br></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>