{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-4 ml-5">
                <form id="search" method="POST" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name"></label>
                        <input class="form-control" type="text" list="rptnames" id="name" name="name" required/>
                        <datalist id="rptnames">
                            {% for rpt in rpts %}
                                <option value={{ rpt }}>
                            {% endfor %}
                        </datalist>
                    </div>
                    <div class="form-group">
                        <label for="mois">Choix du mois</label>
                        <select class="form-control" name="mois" id="mois" required>
                            <option selected disabled value="">----------</option>
                            <option value="01">Janvier</option>
                            <option value="02">Février</option>
                            <option value="03">Mars</option>
                            <option value="04">Avril</option>
                            <option value="05">Mai</option>
                            <option value="06">Juin</option>
                            <option value="07">Juillet</option>
                            <option value="08">Août</option>
                            <option value="09">Septembre</option>
                            <option value="10">Octobre</option>
                            <option value="11">Novembre</option>
                            <option value="12">Décembre</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="annee">Choix de l'année</label>
                        <select class="form-control" name="annee" id="annee" required>
                            <option selected disabled value="">----------</option>
                            {% for an in annees %}
                                <option value={{ an }}>{{ an }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary btn-submit">Envoyez</button>

                </form>
            </div>
        </div>
    </div>
{% endblock %}