{% extends "base.html" %}
{% block title %}Suppression remplaçant{% endblock %}
{% block content %}
<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">Supprimer {{object.forname}} {{object.name}}</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="alert alert-warning" role="alert">
                Êtes-vous sûr de vouloir supprimer <strong>{{ object.forname }} {{object.name}}</strong> ?
            </div>
            <button type="submit" class="btn btn-danger">Supprimer</button>
            <a href="{% url 'rpt_list' %}" class="btn btn-info">Annuler</a>
        </form>
    </div>
</div>
{% endblock %}