{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Nouveau remplaçant{% endblock %}
{% block titre %}Mise à jour{% endblock %}
{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="card  mt-5">
                <div class="card-header font-weight-bold">Contact</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3 text-left">
                            <label for="id_name" class="form-label">Nom</label>
                            {{ form.name|attr:"class:form-control" }}
                        </div>
                        <div class="col-sm-3 text-left">
                            <label for="id_forname" class="form-label">Prénom</label>
                            {{ form.forname|attr:"class:form-control" }}
                        </div>
                        <div class="col-sm-3 text-left">
                            <label for="id_telmob" class="form-label">Tél. mobile</label>
                            {{ form.telmob|attr:"class:form-control" }}
                        </div>
                        <div class="col-sm-3 text-left">
                            <label for="id_email" class="form-label">Email</label>
                            {{ form.email|attr:"class:form-control" }}
                        </div>
                    </div>
                </div>
                <div class="card  mt-5">
                    <div class="card-header font-weight-bold">Adresse</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3 text-left">
                                <label for="id_adress1" class="form-label">Adresse</label>
                                {{ form.adress1|attr:"class:form-control" }}
                                <label for="id_adress2" class="form-label">Complément d'adresse</label>
                                {{ form.adress2|attr:"class:form-control" }}
                            </div>
                            <div class="col-sm-3 text-left">
                                <label for="id_postalcode" class="form-label">Code postal</label>
                                {{ form.postalcode|attr:"class:form-control" }}
                                <label for="id_town" class="form-label">Ville</label>
                                {{ form.town|attr:"class:form-control" }}
                            </div>
                            <div class="col-sm-3 text-left">
                                <label for="id_tel2" class="form-label">Tél. fixe</label>
                                {{ form.tel2|attr:"class:form-control" }}
                                <label for="id_tel3" class="form-label">Tél. autre</label>
                                {{ form.tel3|attr:"class:form-control" }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card  mt-5">
                    <div class="card-header font-weight-bold">Administration</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3 text-left">
                                <label for="id_status" class="form-label">Statut</label>
                                {{ form.status|attr:"class:form-control" }}
                                <label for="id_conum" class="form-label">N° CO</label>
                                {{ form.conum|attr:"class:form-control" }}
                            </div>
                            <div class="col-sm-3 text-left">
                                <label for="id_codepartname" class="form-label">Nom département</label>
                                {{ form.codepartname|attr:"class:form-control" }}
                                <label for="id_codepartnum" class="form-label">Numéro département</label>
                                {{ form.codepartnum|attr:"class:form-control" }}
                            </div>
                            <div class="col-sm-3 text-left">
                                <label for="id_rpps" class="form-label">Numéro RPPS (si thésé)</label>
                                {{ form.rpps|attr:"class:form-control" }}
                                <label for="id_active" class="form-label">Actif</label>
                                {{ form.active|attr:"class:form-control" }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div><input class="btn btn-success pull-left" type="submit" value="Envoyer"/></div>
                            </div>
                            <div class="col-sm-3">
                                <div><a href="{% url 'rpt_list' %}" class="btn btn-info pull-left"
                                        role="button">Annuler</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block script %}
{% endblock %}
