{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="section mt-5">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <div class="card mt-3">
                    <div class="card-header">
                        <div class="card-header-title">
                            Authentification
                        </div>
                    </div>
                    <div class="card-content">
                        <p>Déconnexion réussie</p><br>
                        <p>Vous êtes maintenant déconnecté.</p>
                    </div>
                    <div class="card-footer">
                        <div class="card-footer-item">
                            <a class="button is-info" href="{% url 'login' %}">Se reconnecter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}