{% extends "base.html" %}
{% load static %}
{% block title %}Liste des remplacements{% endblock %}
{% block titre %}Remplacements enregistrés{% endblock %}>
{% block extrahead %}
    <link href="{% static 'css/datatables/datatables.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card mt-5">
            <div class="card-header font-weight-bold">Liste des remplacements enregistrés</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%"
                           cellspacing="0">
                        <thead>
                        <tr>
                            <th>Supp.</th>
                            <th>Dates</th>
                            <th>Anesthésiste</th>
                            <th>Remplaçant</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in object_list %}
                            <tr>
                                <td><a onclick="return confirm('Etes-vous certain de supprimer ce remplacement ?');"
                                       class="btn btn-outline-danger btn-secondary fa fa-trash" data-toggle="tooltip"
                                       data-placement="top" title="Suppression du remplacement"
                                       href="{% url 'delete' event.id %}"></a>
                                </td>
                                <td>{{ event.start|date:"d/m/Y" }}</td>
                                <td>{{ event.are }}</td>
                                <td>{{ event.rpt }}</td>
                                <td class="btn-group" role="group">
                                    <a class="btn btn-outline-info btn-secondary form-control fa fa-address-card"
                                       data-toggle="tooltip" data-placement="top" title="Détails du remplacement"
                                       href="{% url 'event_detail' event.id %}"></a>
                                    <a class="btn btn-outline-success btn-secondary form-control fa fa-edit"
                                       data-toggle="tooltip"
                                       data-placement="top" title="Modification du remplacement"
                                       href="{% url 'update' event.id %}"></a>
                                    <a class="btn btn-outline-info btn-secondary form-control fa fa-file-pdf-o"
                                       data-toggle="tooltip"
                                       data-placement="top" title="Impression du contrat ou annexe calendaire"
                                       href="{% url 'editpdf' event.id %}"></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $.fn.dataTable.moment('DD/MM/YYYY');
            $('#dataTable').DataTable({
                "scrollY": "500px",
                "scrollCollapse": true,
                "paging": false,
                "language": {"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"},
                "date_euro": {"url": "//cdn.datatables.net/plug-ins/1.10.20/sorting/date-euro.js"},
                autowidth: false,
                pageLength: 50,
                order: [[ 1, "desc" ]],
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'csv'},
                    {extend: 'excel'},
                    {extend: 'pdf'},
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '12px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ],
            });
        });
    </script>
{% endblock %}