{% extends "base.html" %}
{% load widget_tweaks %}
{% block titre %}Nouveau Remplacement{% endblock %}
{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="card  mt-2">
                <div class="card-header font-weight-normal"><strong>Nouveau remplacement</strong></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="id_title" class="form-label">Intitulé</label>
                            {{ form.title|attr:"class:form-control"|attr:"readonly" }}
                        </div>
                        <div class="col-sm-3">
                            <label for="id_start" class="form-label">Date</label>
                            {{ form.start|attr:"class:form-control"|attr:"readonly" }}
                        </div>
                        <div class="col-sm-3">
                            <label for="id_end" class="form-label">Fin</label>
                            {{ form.end|attr:"class:form-control"|attr:"readonly" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="id_are" class="form-label">Titulaire</label>
                            {{ form.are|attr:"class:form-control" }}
                        </div>
                        <div class="col-sm-3">
                            <label for="id_rpt" class="form-label">Remplaçant</label>
                            {{ form.rpt|attr:"class:form-control" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div><input class="btn btn-success pull-left mt-5" type="submit" value="Envoyer"/></div>
                        </div>
                        <div class="col-sm-3">
                            <div><a href="{% url 'rempla' %}" class="btn btn-info pull-right mt-5"
                                    role="button">Annuler</a>
                            </div>
                        </div>
                    </div>
                    {% if message %}
                        <div class="alert alert-warning mt-5" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </form>
        <div class="card mt-2">
            <div class="card-header font-weight-normal"><strong>Autres remplacements à cette date</strong></div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable">
                        <thead>
                        <tr>
                            <th>Anesthésiste</th>
                            <th>Remplaçant</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if idems %}
                            {% for idem in idems %}
                                <tr>
                                    <td>{{ idem.are|upper }}</td>
                                    <td>{{ idem.rpt|upper }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td class="text-center">Pas de remplacement enregistré à cette date</td>
                                <td class="text-center">-</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "scrollY": "100px",
                "scrollCollapse": true,
                "paging": false,
                "language": {"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"},
                "date_euro": {"url": "//cdn.datatables.net/plug-ins/1.10.20/sorting/date-euro.js"},
                autowidth: false,
                pageLength: 20,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
            });
        });
    </script>
{% endblock %}