{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Modification d'un remplacement{% endblock %}
{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="card  mt-5">
                <div class="card-header">Détail du remplacement</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="id_title" class="form-label">Remplacement</label>
                            {{ form.title|attr:"class:form-control"|attr:"readonly"}}
                        </div>
                        <div class="col-sm-3">
                            <label for="id_start" class="form-label">Date</label>
                            {{ form.start|attr:"class:form-control"|attr:"readonly" }}
                        </div>
                        <div class="col-sm-3">
                            <label for="id_end" class="form-label">Fin</label>
                            {{ form.end|attr:"class:form-control"|attr:"readonly" }}
                        </div>
                        <div class="col-sm-3">
                            <label for="id_pay_amount" class="form-label">Règlement</label>
                            {{ form.pay_amount|attr:"class:form-control" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="id_are" class="form-label">Titulaire</label>
                            {{ form.are|attr:"class:form-control"}}
                        </div>
                        <div class="col-sm-3">
                            <label for="id_rpt" class="form-label">Remplaçant</label>
                            {{ form.rpt|attr:"class:form-control" }}
                        </div>
                        <div class="col-sm-3">
                            <label for="id_pay_date" class="form-label">Date du règlement</label>
                            {{ form.pay_date|attr:"class:form-control" }}
                        </div>
                        <div class="col-sm-3">
                            <label for="id_pay_type" class="form-label">Mode règlement</label>
                            {{ form.pay_type|attr:"class:form-control" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 ">
                            <label for="id_end" class="form-label">Calendrier</label>
                            {{ form.calendrier|attr:"class:form-control"|attr:"readonly" }}
                        </div>
                        <div class="col-sm-3  offset-md-6">
                            <label for="id_pay_are" class="form-label">Réglé par</label>
                            {{ form.pay_are|attr:"class:form-control" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="btn-group mt-5" role="group">
                                <input class="btn btn-success pull-left" type="submit" value="Envoyer"/>
                                <a onclick="return confirm('Etes-vous certain de supprimer cet évènement ?');"
                                   href="{% url 'delete' id %}" class="btn btn-danger pull-left"
                                   role="button">Effacer</a>
                                <a href="{% url 'rempla' %}" class="btn btn-info pull-left" role="button">Annuler</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if message %}
                <div class="alert alert-warning mt-5" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        </form>
        <div class="card mt-5">
            <div class="card-header font-weight-normal"><strong>Précédents remplacements enregistrés ces
                médecins</strong></div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable">
                        <thead>
                        <tr>
                            <th>Anesthésiste</th>
                            <th>Remplaçant</th>
                            <th>Début</th>
                            <th>Fin</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if event_idems %}
                            {% for idem in event_idems %}
                                <tr>
                                    <td>{{ idem.are|upper }}</td>
                                    <td>{{ idem.rpt|upper }}</td>
                                    <td data-sort='YYYYMMDD'>{{ idem.start|date:'d/m/Y' }}</td>
                                    <td data-sort='YYYYMMDD'>{{ idem.jend|date:'d/m/Y' }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td class="text-center">Pas d'autre remplacement enregistré entre ces deux médecins</td>
                                <td class="text-center">-</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $.datetimepicker.setLocale('fr');
        $(document).ready(function () {
            jQuery('#id_start').datetimepicker({
                timepicker: false,
                dayOfWeekStart: 1,
                format: 'd/m/Y',
            });
            jQuery('#id_end').datetimepicker({
                timepicker: false,
                dayOfWeekStart: 1,
                format: 'd/m/Y',
            });
            jQuery('#id_pay_date').datetimepicker({
                timepicker: false,
                mask:true,
                dayOfWeekStart: 1,
                format: 'd/m/Y',
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "scrollY": "200px",
                "scrollCollapse": true,
                "paging": false,
                "language": {"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"},
                "date_euro": {"url": "//cdn.datatables.net/plug-ins/1.10.20/sorting/date-euro.js"},
                autowidth: false,
                pageLength: 30,
                responsive: true,
                dom: 'lTfgitp',
            });
        });
    </script>
{% endblock %}
