{% extends "base.html" %}
{% block title %}Remplacements{% endblock %}
{% block content %}
    <div class="container">
        <div class="card mt-5"></div>
        <div class="card-header"><strong>Calendrier des remplacements</strong></div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                timeZone: 'Europe/Paris',
                defaultView: 'month',
                selectHelper: true,
                eventTextColor: '#f0ffff',
                height: 'auto',
                aspectRatio: 1.5,
                header: {
                    left: 'prevYear,nextYear',
                    center: 'today title prev,next',
                    right: 'month,listMonth'
                },
                defaultDate: Date.now(),
                locale: 'fr',
                buttonIcons: true, // show the prev/next text
                weekNumbers: true,
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: '/sub/events.json',
                themeSystem: 'standard',
                selectable: true,
                select: function (start, end, jsEvent, view) {
                    var startday = start.format("DDMMYYYYHHMMSS");
                    var endday = end.format("DDMMYYYYHHMMSS");
                    window.location.href = '/sub/create/' + startday + '/' + endday;
                },
                eventClick: function (event, jsEvent, view) {
                    var id = event.id;
                    window.location.href = '/sub/update/' + id;
                },
                eventResize: function (event, delta, revertFunc) {

                    if (!confirm("Confirmez-vous cette modification ?")) {
                        revertFunc();
                    } else {
                        var id = event.id;
                        var end = event.end.format("DDMMYYYYHHMMSS");
                        window.location.href = '/sub/resize/' + id + '/' + end;
                    }
                },
                eventDrop: function (event, delta, revertFunc) {

                    if (!confirm("Confirmez-vous cette modification ?")) {
                        revertFunc();
                    } else {
                        var id = event.id;
                        var start = event.start.format("DDMMYYYYHHMMSS");
                        var end = event.end.format("DDMMYYYYHHMMSS");
                        window.location.href = '/sub/drop/' + id + '/' + start + '/' + end;
                    }
                },
            });
        });
    </script>

{% endblock %}
