{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Recherche mensuelle par remplaçant{% endblock %}
{% block extrahead %}
    <link href="{% static 'css/datatables/datatables.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <form id="search" method="POST" action="">
            {% csrf_token %}
            <div class="card  mt-5">
                <div class="card-header"><strong>Contrats et annexes mensuels</strong></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="name">Nom du remplaçant</label>
                                <input class="form-control" type="text" list="rptnames" id="name" name="name" required/>
                                <datalist id="rptnames">
                                    {% for rpt in rpts %}
                                        <option value={{ rpt }}>
                                    {% endfor %}
                                </datalist>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="mois">Choix du mois</label>
                                <select class="form-control" name="mois" id="mois" required>
                                    <option selected disabled value="">----------</option>
                                    <option value="01">Janvier</option>
                                    <option value="02">Février</option>
                                    <option value="03">Mars</option>
                                    <option value="04">Avril</option>
                                    <option value="05">Mai</option>
                                    <option value="06">Juin</option>
                                    <option value="07">Juillet</option>
                                    <option value="08">Août</option>
                                    <option value="09">Septembre</option>
                                    <option value="10">Octobre</option>
                                    <option value="11">Novembre</option>
                                    <option value="12">Décembre</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="annee">Choix de l'année</label>
                                <select class="form-control" name="annee" id="annee" required>
                                    <option selected disabled value="">----------</option>
                                    {% for an in annees %}
                                        <option value={{ an }}>{{ an }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-3">
                            <div><input class="btn btn-success pull-left" type="submit" value="Envoyer"/></div>
                        </div>
                        <div class="col-sm-3">
                            <a href="{% url 'rempla' %}" class="btn btn-info pull-left" role="button">Annuler</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {% if message %}
            <div class="alert alert-danger mt-2" role="alertdialog">
                {{ message }}
            </div>
        {% endif %}
        {% if rpt %}
            <div class="alert alert-info mt-2" role="alertdialog">
                {{ rpt|upper }}
            </div>
        {% endif %}
        <div class="card mt-2">
            <div class="card-header font-weight-normal"><strong>Remplacements trouvés {% if rpt %}pour {{ rpt }}{% endif %}</strong></div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable">
                        <thead class="mt-5">
                        <tr>
                            <th>Anesthésiste</th>
                            <th>Remplaçant</th>
                            <th>Début</th>
                            <th>Fin</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if items %}
                            {% for item in items %}
                                <tr>
                                    <td>{{ item.are|upper }}</td>
                                    <td>{{ item.rpt|upper }}</td>
                                    <td>{{ item.start|date:'d/m/Y' }}</td>
                                    <td>{{ item.jend|date:'d/m/Y' }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td class="text-center">-</td>
                                <td class="text-center">-</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}

    <script>
        $(document).ready(function () {
            var export_title = "{{ rpt }}";
            var mesTop = "<p><h6>Hôpital Privé d'Antony - GARHPA - Liste des remplacements mensuels effectués par <br><br> <strong> {{ rpt }}</strong></h6></p>";
            var mesBot = "<p><h6>Etabli à la demande de l'intéressé pour faire valoir ce que de droit.<br><br> Le gérant : <strong>{{ gerant }}</strong></h6>";
            $('#dataTable').DataTable({
                "scrollY": "300px",
                "scrollCollapse": true,
                "paging": false,
                "language": {"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"},
                "date_euro": {"url": "//cdn.datatables.net/plug-ins/1.10.20/sorting/date-euro.js"},
                autowidth: false,
                pageLength: 200,
                order: [[2, "desc"]],
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {
                        extend: 'csv',
                        title: export_title,
                    },
                    {
                        extend: 'excel',
                        messageTop: '',
                        messageBottom: '',
                        title: export_title,
                    },
                    {
                        extend: 'pdf',
                        messageTop: '',
                        messageBottom: '',
                        title: export_title,
                    },
                    {
                        extend: 'print',
                        messageTop: mesTop,
                        messageBottom: mesBot,
                        title: "",
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ],
            });
        });
    </script>
{% endblock %}