{% extends 'base.html' %}
{% load static %}
{% block title %}Erreur{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <div class="card">
                    <img src="{% static 'accueil.png' %}" class="card-img-top" alt="404">
                    <div class="card-body">
                        <h5 class="card-title h2">Erreur type 404</h5>
                        <p class="card-text h3 mb-5">Désolé, la page demandée est introuvable...</p>
                        <a href="{% url 'dashboard' %}" class="btn btn-primary">Retour à l'accueil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}