<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
{% load django_simple_bulma %}
{% bulma %}
{% font_awesome %}
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <title>{% block title %}Accueil{% endblock %}</title>


    <!-- Custom styles for this template -->
    <link href="{% static 'css/fontawesome/css/all.css' %}" rel="stylesheet">
    <link href="{% static 'css/datatables/datatables.min.css' %}" rel="stylesheet">

    <!-- Full Calendar -->
    <link href="{% static 'css/fullcalendar/fullcalendar.css' %}" rel='stylesheet'/>
    <link href="{% static 'css/fullcalendar/fullcalendar.print.min.css' %}" rel='stylesheet' media='print'/>

    <!-- DateTimePicker -->
    <link href="{% static 'css/datetimepicker/jquery.datetimepicker.min.css' %}" rel="stylesheet">

    {% block extrahead %}
    {% endblock %}
</head>

<body>

<nav class="navbar is-info is-fixed-top">
    <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'dashboard' %}">
            <img src="{% static 'icon001.png' %}" width="30" height="50" alt="brand">
            &ensp;SUBDIVISION
        </a>
        <div class="navbar-burger burger" data-target="navbarExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="navbarExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{% url 'dashboard' %}">
                Accueil
            </a>
            <a class="navbar-item" href="{% url 'admin:index' %}">
                Console
            </a>
            <a class="navbar-item" href="{% url 'blood' %}">
                Calcul
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#">
                    Remplacements
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="{% url 'rempla' %}">
                        Calendrier
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="{% url 'event_list' %}">
                        Liste remplacements
                    </a>
                    <a class="navbar-item" href="{% url 'searchrptmonth' %}">
                        Mois et remplaçant
                    </a>
                    <a class="navbar-item" href="{% url 'searchMonth' "Editions des contrats et Annexes" %}">
                        Editions contrats
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="{% url 'are_list' %}">
                        Anesthésistes
                    </a>
                    <a class="navbar-item" href="{% url 'rpt_list' %}">
                        Remplaçants
                    </a>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#">
                    Répartitions
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="{% url 'repart' %}">
                        Calendrier
                    </a>
                    <a class="navbar-item" href="#">
                        Dernière répartition
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="{% url 'are_list' %}">
                        Anesthésistes
                    </a>
                    <a class="navbar-item" href="{% url 'iade_list' %}">
                        IADEs
                    </a>
                </div>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#">
                    Utilisateur
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="{% url 'login' %}">
                        Se connecter
                    </a>
                    <a class="navbar-item js-modal-trigger" data-target="modal-js-example" href="#">
                        Se déconnecter
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

{% block content %}

{% endblock %}

{% block modal %}
    <!-- Logout Modal-->
    <div class="modal" id="modal-js-example">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head has-background-link-dark">
                <p class="modal-card-title  has-text-white-bis">Prêt à nous quitter ?</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                Sélectionnez "Déconnexion" ci-dessous pour mettre fin à votre cession.
            </section>
            <footer class="modal-card-foot">
                <a class="button is-info" href="{% url 'logout' %}">Déconnexion</a>
                <button class="button ">Annuler</button>
            </footer>
        </div>
    </div>

    <div class="modal" id="js-knowModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head has-background-link-dark">
                <p class="modal-card-title has-text-white-bis">En savoir plus... ?</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                Vous êtes trop curieux, vous n'en saurez pas plus...
            </section>
            <footer class="modal-card-foot"></footer>
        </div>
    </div>
{% endblock modal %}
<script src="{% static 'js/jquery/moment.min.js' %}"></script>
<script src="{% static 'js/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery/popper.min.js' %}"></script>
<!-- Full Calendar JavaScript -->
<script src="{% static 'js/fullcalendar/fullcalendar.min.js' %}"></script>
<script src="{% static 'js/fullcalendar/locale-all.js' %}"></script>
<!-- DateTimePicker JavaScript -->
<script src="{% static 'js/datetimepicker/jquery.datetimepicker.full.js' %}"></script>

<script src="{% static 'js/datatables/datatables.min.js' %}"></script>
<script>
    $(document).ready(function () {

        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function () {

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");

        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        // Functions to open and close a modal
        function openModal($el) {
            $el.classList.add('is-active');
        }

        function closeModal($el) {
            $el.classList.remove('is-active');
        }

        function closeAllModals() {
            (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                closeModal($modal);
            });
        }

        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
            const modal = $trigger.dataset.target;
            const $target = document.getElementById(modal);
            console.log($target);

            $trigger.addEventListener('click', () => {
                openModal($target);
            });
        });

        // Add a click event on various child elements to close the parent modal
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
            const $target = $close.closest('.modal');

            $close.addEventListener('click', () => {
                closeModal($target);
            });
        });

        // Add a keyboard event to close all modals
        document.addEventListener('keydown', (event) => {
            const e = event || window.event;

            if (e.keyCode === 27) { // Escape key
                closeAllModals();
            }
        });
    });
</script>
<!-- Block Extra JavaScript -->
{% block script %}
{% endblock script %}
<footer class="footer is-fixed-bottom">
    <div class="content has-text-centered">
        <small>SUBDIVISION</small> by <a href="#">Atheinas</a>. © 2022
    </div>
</footer>
</body>
</html>