{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Recherche par mois{% endblock %}
{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="card  mt-2">
                <div class="card-header"><strong>Vacations IADEs mensuelles</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="id_mois" class="form-label">Mois</label>
                            {{ form.mois|attr:"class:form-control" }}
                        </div>
                        <div class="col-sm-3">
                            <label for="id_annee" class="form-label">Année</label>
                            {{ form.annee|attr:"class:form-control" }}
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-sm-3">
                            <div><input class="btn btn-success pull-left" type="submit" value="Envoyer"/></div>
                        </div>
                        <div class="col-sm-3">
                            <a href="{% url 'vacation' %}" class="btn btn-info pull-left" role="button">Annuler</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {% if items %}
            <div class="alert alert-info" role="alertdialog">
                {{ message }}
                <a href="" class="btn btn-info btn-sm float-right"
                   role="button">Editions mensuelles</a>
            </div>
        {% endif %}
        <div class="card mt-2">
            <div class="card-header font-weight-normal"><strong>Vacations trouvées</strong></div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Vacataire</th>
                            <th>Début</th>
                            <th>Fin</th>
                            <th>Durée</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if items %}
                            {% for item in items %}
                                <tr>
                                    <td>{{ item.start|date:'d/m/Y' }}</td>
                                    <td>{{ item.vacataire }}</td>
                                    <td>{{ item.start_time|date:'H:i' }}</td>
                                    <td>{{ item.end_time|date:'H:i' }}</td>
                                    <td>{{ item.duration }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td class="text-center">-</td>
                                <td class="text-center">-</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({

                "scrollY": "400px",
                "scrollCollapse": true,
                "paging": false,
                "language": {"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"},
                "date_euro": {"url": "//cdn.datatables.net/plug-ins/1.10.20/sorting/date-euro.js"},
                autowidth: false,
                pageLength: 200,
                responsive: true,
                order: [[0, "desc"]],
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {
                        extend: 'csv',

                    },
                    {
                        extend: 'excel',

                    },
                    {
                        extend: 'pdf',

                    },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '12px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ],
            });
        });
    </script>
{% endblock %}
