{% extends "base.html" %}
{% block title %}Vacations IADEs{% endblock %}
{% block content %}
    <div class="container">
        {% if message %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="alert alert-primary" role="alert">
                        {{ message }}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="card mt-2">
            <div class="card-header h4"><strong>Calendrier des vacations IADEs</strong>
                <a href="{% url 'vacation' %}" role="button" class="btn btn-primary float-right">Rafraichir</a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block modal %}
    <div class="modal fade" id="modal-vac">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>
{% endblock modal %}
{% block script %}
    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                timezone: 'local',
                locale:'fr',
                defaultDate: '{{ day|date:'Y-m-d' }}',
                defaultView:'agendaWeek',
                allDaySlot:false,
                selectHelper: true,
                eventBackgroundColor: '#A52A2A',
                aspectRatio: 5,
                eventTextColor: '#f0ffff',
                height: 'auto',
                header: {
                    left: 'prevYear,nextYear',
                    center: 'today title prev,next',
                    right: 'month,agendaWeek,agendaDay,listWeek'
                },
                buttonText: {
                    listWeek: 'Week',
                    listMonth: 'Liste du mois'
                },
                buttonIcons: true, // show the prev/next text
                weekNumbers: true,
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                hiddenDays: [0,],
                slotDuration:'00:15:00',
                minTime: '07:00', // a start time (10am in this example)
                maxTime: '20:00',
                slotLabelFormat:'HH:mm',
                events: '/vac/vac_events.json',
                themeSystem: 'standard',
                selectable: true,
                select: function (start, end, jsEvent, view) {
                    var startday = moment(start).format();
                    var endday = moment(end).format();
                    window.location.href = '/vac/vaccreate/' + startday + '/' + endday;
                },
                eventClick: function (event) {
                    var id = event.id;
                    window.location.href = '/vac/vacupdate/' + id;
                },
                eventResize: function (event, delta, revertFunc) {
                    if (!confirm("Confirmez-vous cette modification ?")) {
                        revertFunc();
                    } else {
                        var id = event.id;
                        var start = moment(event.start).format();
                        var end = moment(event.end).format();
                        window.location.href = '/vac/vacresize/' + id + '/' + start + '/' + end;
                    }
                },
                eventDrop: function (event, delta, revertFunc) {

                    if (!confirm("Confirmez-vous cette modification ?")) {
                        revertFunc();
                    } else {
                        var id = event.id;
                        var start = moment(event.start).format();
                        var end = moment(event.end).format();
                        window.location.href = '/vac/vacresize/' + id + '/' + start + '/' + end;
                    }
                },
            });
        });
    </script>
{% endblock %}
