{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Répartition du {{ start }}{% endblock %}
{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="card  mt-5">
                <div class="card-header font-weight-bold">Consultations du {{ date }}</div>
                <div class="card-body">
                    {{ formset.management_form }}
                    {% for form in formset %}
                        <div class="row">
                            <div class="col-sm-2 text-left">
                                <label for="id_deskroom" class="form-label">Bureau</label>
                                {{ form.deskroom|attr:"class:form-control"|attr:"readonly" }}
                            </div>
                            <div class="col-sm-2 text-left">
                                <label for="id_are" class="form-label">Anesthésiste</label>
                                {{ form.are|attr:"class:form-control" }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div><input class="btn btn-success pull-left mt-5" type="submit" value="Envoyer"/></div>
                </div>
                <div class="offset-6 col-sm-3">
                    <div><a href="{% url 'repart' %}" class="btn btn-info float-right mt-5"
                            role="button">Annuler</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block script %}
{% endblock %}