{% extends 'base.html' %}
{% block content %}
    <div class="container mt-3">
        <div class="alert alert-primary mt-1" role="alert">
            <strong>Salles NORD MATIN du {{ repart.start }} - Garde : {{ repart.duty }} - SSPI
                : {{ repart.sspi }}</strong>
            <a href="{% url 'repart' %}" role="button" class="btn btn-sm btn-primary float-right">Retour</a>
        </div>

        {% for matin_line in matin_lines %}

            {% if forloop.counter == 1 %}

                <div class="row">
                <div class="col-2">
                    <div class="card border-dark" style="width: 10rem;">
                        <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
                            S{{ matin_line.room }} <span
                                class="badge ml-5 bg-warning text-dark">{{ matin_line.start_time|default_if_none:'-' }}</span>
                        </div>
                        <div class="card-body">
                            <span class="text-dark">{% if  matin_line.operator.name %}
                                Dr {% endif %}{{ matin_line.operator.name|default_if_none:'' }}</span><br>
                            <span class="text-dark">{% if  matin_line.are.name %}
                                Dr {% endif %}{{ matin_line.are.name|default_if_none:'' }}</span><br>
                            {% if matin_line.iade %}
                                <span class="text-info">{{ matin_line.iade|default_if_none:'' }}</span><br>
                            {% endif %}
                            <span>{{ matin_line.interne|default_if_none:'' }}</span>
                        </div>
                    </div>
                </div>

            {% elif forloop.counter == 2 %}

                <div class="col-2 offset-2">
                    <div class="card border-dark" style="width: 10rem;">
                        <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
                            S{{ matin_line.room }} <span
                                class="badge ml-5 bg-warning text-dark">{{ matin_line.start_time|default_if_none:'-' }}</span>
                        </div>
                        <div class="card-body">

                            <span class="text-dark">{% if  matin_line.operator.name %}
                                Dr {% endif %}{{ matin_line.operator.name|default_if_none:'' }}</span><br>
                            <span class="text-dark">{% if  matin_line.are.name %}
                                Dr {% endif %}{{ matin_line.are.name|default_if_none:'' }}</span><br>
                            {% if matin_line.iade %}
                                <span class="text-info">{{ matin_line.iade|default_if_none:'' }}</span><br>
                            {% endif %}
                            <span>{{ matin_line.interne|default_if_none:'' }}</span>

                        </div>
                    </div>
                </div>

            {% elif forloop.counter > 2 and forloop.counter < 6 %}

                <div class="col-2">
                    <div class="card border-dark" style="width: 10rem;">
                        <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
                            S{{ matin_line.room }} <span
                                class="badge ml-5 bg-warning text-dark">{{ matin_line.start_time|default_if_none:'-' }}</span>
                        </div>
                        <div class="card-body">

                            <span class="text-dark">{% if  matin_line.operator.name %}
                                Dr {% endif %}{{ matin_line.operator.name|default_if_none:'' }}</span><br>
                            <span class="text-dark">{% if  matin_line.are.name %}
                                Dr {% endif %}{{ matin_line.are.name|default_if_none:'' }}</span><br>
                            {% if matin_line.iade %}
                                <span class="text-info">{{ matin_line.iade|default_if_none:'' }}</span><br>
                            {% endif %}
                            <span>{{ matin_line.interne|default_if_none:'' }}</span>

                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>

        {% for matin_line in matin_lines %}

            {% if forloop.counter == 6 %}

                <div class="row mt-1">
                <div class="col-2">
                    <div class="card border-dark" style="width: 10rem;">
                        <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
                            S{{ matin_line.room }} <span
                                class="badge ml-5 bg-warning text-dark">{{ matin_line.start_time|default_if_none:'-' }}</span>
                        </div>
                        <div class="card-body">

                            <span class="text-dark">{% if  matin_line.operator.name %}
                                Dr {% endif %}{{ matin_line.operator.name|default_if_none:'' }}</span><br>
                            <span class="text-dark">{% if  matin_line.are.name %}
                                Dr {% endif %}{{ matin_line.are.name|default_if_none:'' }}</span><br>
                            {% if matin_line.iade %}
                                <span class="text-info">{{ matin_line.iade|default_if_none:'' }}</span><br>
                            {% endif %}
                            <span>{{ matin_line.interne|default_if_none:'' }}</span>

                        </div>
                    </div>
                </div>
            {% elif forloop.counter > 6 and forloop.counter < 9 %}
                <div class="col-2">
                    <div class="card border-dark" style="width: 10rem;">
                        <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
                            S{{ matin_line.room }} <span
                                class="badge ml-5 bg-warning text-dark">{{ matin_line.start_time|default_if_none:'-' }}</span>
                        </div>
                        <div class="card-body">

                            <span class="text-dark">{% if  matin_line.operator.name %}
                                Dr {% endif %}{{ matin_line.operator.name|default_if_none:'' }}</span><br>
                            <span class="text-dark">{% if  matin_line.are.name %}
                                Dr {% endif %}{{ matin_line.are.name|default_if_none:'' }}</span><br>
                            {% if matin_line.iade %}
                                <span class="text-info">{{ matin_line.iade|default_if_none:'' }}</span><br>
                            {% endif %}
                            <span>{{ matin_line.interne|default_if_none:'' }}</span>

                        </div>
                    </div>
                </div>
            {% elif forloop.counter == 9 %}
                <div class="col-2 offset-2">
                    <div class="card border-dark" style="width: 10rem;">
                        <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
                            S{{ matin_line.room }} <span
                                class="badge ml-5 bg-warning text-dark">{{ matin_line.start_time|default_if_none:'-' }}</span>
                        </div>
                        <div class="card-body">
                            <span class="text-dark">{% if  matin_line.operator.name %}
                                Dr {% endif %}{{ matin_line.operator.name|default_if_none:'' }}</span><br>
                            <span class="text-dark">{% if  matin_line.are.name %}
                                Dr {% endif %}{{ matin_line.are.name|default_if_none:'' }}</span><br>
                            {% if matin_line.iade %}
                                <span class="text-info">{{ matin_line.iade|default_if_none:'' }}</span><br>
                            {% endif %}
                            <span>{{ matin_line.interne|default_if_none:'' }}</span>
                        </div>
                    </div>
                </div>
            {% elif forloop.counter == 10 %}
                <div class="col-2">
                    <div class="card border-dark" style="width: 10rem;">
                        <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
                            S{{ matin_line.room }} <span
                                class="badge ml-5 bg-warning text-dark">{{ matin_line.start_time|default_if_none:'-' }}</span>
                        </div>
                        <div class="card-body">
                            <span class="text-dark">{% if  matin_line.operator.name %}
                                Dr {% endif %}{{ matin_line.operator.name|default_if_none:'' }}</span><br>
                            <span class="text-dark">{% if  matin_line.are.name %}
                                Dr {% endif %}{{ matin_line.are.name|default_if_none:'' }}</span><br>
                            {% if matin_line.iade %}
                                <span class="text-info">{{ matin_line.iade|default_if_none:'' }}</span><br>
                            {% endif %}
                            <span>{{ matin_line.interne|default_if_none:'' }}</span>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <!--- SALLES NORD APM --->
    <div class="container mt-3">
        <div class="alert alert-primary mt-1" role="alert">
            <strong>Salles NORD APRÈS-MIDI</strong>
        </div>

        {% for apm_line in apm_lines %}

            {% if forloop.counter == 1 %}

                <div class="row">
                <div class="col-2">
                    <div class="card border-dark" style="width: 10rem;">
                        <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
                            S{{ apm_line.room }} <span
                                class="badge ml-5 bg-warning text-dark">{{ apm_line.start_time|default_if_none:'-' }}</span>
                        </div>
                        <div class="card-body">
                            <span class="text-dark">{% if  apm_line.operator.name %}
                                Dr {% endif %}{{ apm_line.operator.name|default_if_none:'' }}</span><br>
                            <span class="text-dark">{% if  apm_line.are.name %}
                                Dr {% endif %}{{ apm_line.are.name|default_if_none:'' }}</span><br>
                            {% if apm_line.iade %}
                                <span class="text-info">{{ apm_line.iade|default_if_none:'' }}</span><br>
                            {% endif %}
                            <span>{{ apm_line.interne|default_if_none:'' }}</span>
                        </div>
                    </div>
                </div>

            {% elif forloop.counter == 2 %}

                <div class="col-2 offset-2">
                    <div class="card border-dark" style="width: 10rem;">
                        <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
                            S{{ apm_line.room }} <span
                                class="badge ml-5 bg-warning text-dark">{{ apm_line.start_time|default_if_none:'-' }}</span>
                        </div>
                        <div class="card-body">

                            <span class="text-dark">{% if  apm_line.operator.name %}
                                Dr {% endif %}{{ apm_line.operator.name|default_if_none:'' }}</span><br>
                            <span class="text-dark">{% if  apm_line.are.name %}
                                Dr {% endif %}{{ apm_line.are.name|default_if_none:'' }}</span><br>
                            {% if apm_line.iade %}
                                <span class="text-info">{{ apm_line.iade|default_if_none:'' }}</span><br>
                            {% endif %}
                            <span>{{ apm_line.interne|default_if_none:'' }}</span>

                        </div>
                    </div>
                </div>

            {% elif forloop.counter > 2 and forloop.counter < 6 %}

                <div class="col-2">
                    <div class="card border-dark" style="width: 10rem;">
                        <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
                            S{{ apm_line.room }} <span
                                class="badge ml-5 bg-warning text-dark">{{ apm_line.start_time|default_if_none:'-' }}</span>
                        </div>
                        <div class="card-body">

                            <span class="text-dark">{% if  apm_line.operator.name %}
                                Dr {% endif %}{{ apm_line.operator.name|default_if_none:'' }}</span><br>
                            <span class="text-dark">{% if  apm_line.are.name %}
                                Dr {% endif %}{{ apm_line.are.name|default_if_none:'' }}</span><br>
                            {% if apm_line.iade %}
                                <span class="text-info">{{ apm_line.iade|default_if_none:'' }}</span><br>
                            {% endif %}
                            <span>{{ apm_line.interne|default_if_none:'' }}</span>

                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>

        {% for apm_line in apm_lines %}

            {% if forloop.counter == 6 %}

                <div class="row mt-2">
                <div class="col-2">
                    <div class="card border-dark" style="width: 10rem;">
                        <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
                            S{{ apm_line.room }} <span
                                class="badge ml-5 bg-warning text-dark">{{ apm_line.start_time|default_if_none:'-' }}</span>
                        </div>
                        <div class="card-body">

                            <span class="text-dark">{% if  apm_line.operator.name %}
                                Dr {% endif %}{{ apm_line.operator.name|default_if_none:'' }}</span><br>
                            <span class="text-dark">{% if  apm_line.are.name %}
                                Dr {% endif %}{{ apm_line.are.name|default_if_none:'' }}</span><br>
                            {% if apm_line.iade %}
                                <span class="text-info">{{ apm_line.iade|default_if_none:'' }}</span><br>
                            {% endif %}
                            <span>{{ apm_line.interne|default_if_none:'' }}</span>

                        </div>
                    </div>
                </div>
            {% elif forloop.counter > 6 and forloop.counter < 9 %}
                <div class="col-2">
                    <div class="card border-dark" style="width: 10rem;">
                        <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
                            S{{ apm_line.room }} <span
                                class="badge ml-5 bg-warning text-dark">{{ apm_line.start_time|default_if_none:'-' }}</span>
                        </div>
                        <div class="card-body">

                            <span class="text-dark">{% if  apm_line.operator.name %}
                                Dr {% endif %}{{ apm_line.operator.name|default_if_none:'' }}</span><br>
                            <span class="text-dark">{% if  apm_line.are.name %}
                                Dr {% endif %}{{ apm_line.are.name|default_if_none:'' }}</span><br>
                            {% if apm_line.iade %}
                                <span class="text-info">{{ apm_line.iade|default_if_none:'' }}</span><br>
                            {% endif %}
                            <span>{{ apm_line.interne|default_if_none:'' }}</span>

                        </div>
                    </div>
                </div>
            {% elif forloop.counter == 9 %}
                <div class="col-2 offset-2">
                    <div class="card border-dark" style="width: 10rem;">
                        <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
                            S{{ apm_line.room }} <span
                                class="badge ml-5 bg-warning text-dark">{{ apm_line.start_time|default_if_none:'-' }}</span>
                        </div>
                        <div class="card-body">
                            <span class="text-dark">{% if  apm_line.operator.name %}
                                Dr {% endif %}{{ apm_line.operator.name|default_if_none:'' }}</span><br>
                            <span class="text-dark">{% if  apm_line.are.name %}
                                Dr {% endif %}{{ apm_line.are.name|default_if_none:'' }}</span><br>
                            {% if apm_line.iade %}
                                <span class="text-info">{{ apm_line.iade|default_if_none:'' }}</span><br>
                            {% endif %}
                            <span>{{ apm_line.interne|default_if_none:'' }}</span>
                        </div>
                    </div>
                </div>
            {% elif forloop.counter == 10 %}
                <div class="col-2">
                    <div class="card border-dark" style="width: 10rem;">
                        <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
                            S{{ apm_line.room }} <span
                                class="badge ml-5 bg-warning text-dark">{{ apm_line.start_time|default_if_none:'-' }}</span>
                        </div>
                        <div class="card-body">
                            <span class="text-dark">{% if  apm_line.operator.name %}
                                Dr {% endif %}{{ apm_line.operator.name|default_if_none:'' }}</span><br>
                            <span class="text-dark">{% if  apm_line.are.name %}
                                Dr {% endif %}{{ apm_line.are.name|default_if_none:'' }}</span><br>
                            {% if apm_line.iade %}
                                <span class="text-info">{{ apm_line.iade|default_if_none:'' }}</span><br>
                            {% endif %}
                            <span>{{ apm_line.interne|default_if_none:'' }}</span>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>

{% endblock %}