{% extends 'base.html' %}
{% block content %}
    <div class="container mt-3">
        <div class="row mt-2  border border-secondary bg-light">
            <div class="col-12">
                <div class="alert alert-dark h4 text-justify mt-2" role="alert">
                    DATE : {{ repart.start|date:'d-m-Y' }} - GARDE : {{ repart.duty.name|upper }}
                    ({{ repart.duty.phone_hop }}) - SSPI : {{ repart.sspi.name }} ({{ repart.sspi.phone_hop }})
                </div>
            </div>
        </div>
        <div class="row mt-3 bg-light border border-secondary">
            <div class="col-6">
                <p class="font-weight-bold mt-1 mb-1">Nord matin</p>
                <table class="table table-sm small table-striped border border-primary">
                    <thead class="text-dark bg-light">
                    <tr>
                        <th>Chirurgien</th>
                        <th>Salle</th>
                        <th>Heure</th>
                        <th>Anesthésiste</th>
                        <th>IADE</th>
                        <th>Interne</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for matin_line in matin_lines %}
                        {% if forloop.counter < 11 %}
                            <tr>
                                {% if matin_line.operator %}
                                    <th class="border-right">{{ matin_line.operator.name|default_if_none:'Rien' }}</th>
                                {% else %}
                                    <th class="text-danger border-right">Rien</th>
                                {% endif %}
                                <th class="border-right text-center">{{ matin_line.room }}</th>
                                <th class="border-right  text-center">{{ matin_line.start_time|default_if_none:'' }}</th>
                                {% if matin_line.rpt %}
                                    <th class="font-italic">{{ matin_line.rpt.name }}</th>
                                {% else %}
                                    <th>{{ matin_line.are.name|default_if_none:'' }}</th>
                                {% endif %}
                                <th>{{ matin_line.iade.name|default_if_none:'' }}</th>
                                <th>{{ matin_line.interne|default_if_none:'' }}</th>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <p class="font-weight-bold mt-1 mb-1">Nord Après-midi</p>
                <table class="table table-sm small table-striped border border-primary">
                    <thead class="text-dark bg-light">
                    <tr>
                        <th>Chirurgien</th>
                        <th>Salle</th>
                        <th>Heure</th>
                        <th>Anesthésiste</th>
                        <th>IADE</th>
                        <th>Interne</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for apm_line in apm_lines %}
                        {% if forloop.counter < 11 %}
                            <tr>

                                {% if apm_line.operator %}
                                    <th class="border-right">{{ apm_line.operator.name|default_if_none:'Rien' }}</th>
                                {% else %}
                                    <th class="text-danger border-right">Rien</th>
                                {% endif %}
                                <th class="border-right text-center">{{ apm_line.room }}</th>
                                <th class="border-right  text-center">{{ apm_line.start_time|default_if_none:'-' }}</th>
                                {% if apm_line.rpt %}
                                    <th class="font-italic">{{ apm_line.rpt.name }}</th>
                                {% else %}
                                    <th>{{ apm_line.are.name|default_if_none:'' }}</th>
                                {% endif %}
                                <th>{{ apm_line.iade.name|default_if_none:'' }}</th>
                                <th>{{ apm_line.interne|default_if_none:'' }}</th>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row bg-border border-secondary mt-2">
            <div class="col-6">
                <p class="font-weight-bold mt-1 mb-1">Consultations</p>
                <table class="table table-sm small table-striped  border border-info">
                    <thead class="text-dark bg-light">
                    <tr>
                        <th></th>
                        <th class="text-center">Cs 1er SHAU</th>
                        <th class="text-center">Cs 2e Bali</th>
                        <th class="text-center">Cs 3e</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th class="text-right border-right">Cs Matin</th>
                        {% for csm in matin_cs %}
                            <th class="text-center">{{ csm.are.name }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th class=" text-right border-right">Cs Après-mdi</th>
                        {% for csa in apm_cs %}
                            <th class="text-center">{{ csa.are.name }}</th>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <p class="font-weight-bold mt-1 mb-1">Remplacements</p>
                <table class="table table-sm small table-striped  border border-info">
                    <tbody>
                    <tr>
                        <th class="border-right">Remplacés</th>
                        {% for rempla in remplas %}
                            <th class="border-right">{{ rempla.are.name }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th class="border-right">Remplaçants</th>
                        {% for rempla in remplas %}
                            <th class="border-right">{{ rempla.rpt.name }}</th>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row  bg-light border border-secondary mt-2">
            <div class="col-6">
                <p class="font-weight-bold mt-1 mb-1">Sud Matin</p>
                <table class="table table-sm small table-striped border border-primary">
                    <thead class="text-dark bg-light">
                    <tr>
                        <th>Chirurgien</th>
                        <th>Salle</th>
                        <th>Heure</th>
                        <th>Anesthésiste</th>
                        <th>IADE</th>
                        <th>Interne</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for matin_line in matin_lines %}
                        {% if forloop.counter > 10 %}
                            <tr>
                                {% if matin_line.operator %}
                                    <th class="border-right">{{ matin_line.operator.name|default_if_none:'Rien' }}</th>
                                {% else %}
                                    <th class="text-danger border-right">Rien</th>
                                {% endif %}
                                <th class="border-right text-center">{{ matin_line.room }}</th>
                                <th class="border-right text-center">{{ matin_line.start_time|default_if_none:'' }}</th>
                                {% if matin_line.rpt %}
                                    <th class="font-italic">{{ matin_line.rpt.name }}</th>
                                {% else %}
                                    <th>{{ matin_line.are.name|default_if_none:'' }}</th>
                                {% endif %}
                                <th>{{ matin_line.iade.name|default_if_none:'' }}</th>
                                <th>{{ matin_line.interne|default_if_none:'' }}</th>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <p class="font-weight-bold mt-1 mb-1">Sud Après-midi</p>
                <table class="table table-sm small table-striped  border border-primary">
                    <thead class="text-dark bg-light">
                    <tr>
                        <th>Chirurgien</th>
                        <th>Salle</th>
                        <th>Heure</th>
                        <th>Anesthésiste</th>
                        <th>IADE</th>
                        <th>Interne</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for apm_line in apm_lines %}
                        {% if forloop.counter > 10 %}
                            <tr>
                                {% if apm_line.operator %}
                                    <th class="border-right">{{ apm_line.operator.name|default_if_none:'Rien' }}</th>
                                {% else %}
                                    <th class="text-danger border-right">Rien</th>
                                {% endif %}
                                <th class="border-right text-center">{{ apm_line.room }}</th>
                                <th class="border-right text-center">{{ apm_line.start_time|default_if_none:'-' }}</th>
                                {% if apm_line.rpt %}
                                    <th class="font-italic">{{ apm_line.rpt.name }}</th>
                                {% else %}
                                    <th>{{ apm_line.are.name|default_if_none:'' }}</th>
                                {% endif %}
                                <th>{{ apm_line.iade.name|default_if_none:'' }}</th>
                                <th>{{ apm_line.interne|default_if_none:'' }}</th>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}