{% extends "base.html" %}
{% block title %}Détail d'une répartition{% endblock %}
{% block titre %}Détail{% endblock %}>
{% block extrahead %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="alert alert-info mt-2 h5 text-center" role="alert">
            <strong>{{ object.start }} - Garde :
                {{ object.duty.forname }} {{ object.duty.name|upper }} - Astreinte - SSPI :
                {{ object.sspi.forname }} {{ object.sspi.name|upper }}</strong>
            <a class="btn btn-primary btn-sm float-right" role="button"
               href="{% url 'repart' %}">Retour</a>
            <a class="btn btn-info btn-sm float-right" role="button"
               href="{% url 'export' object.id %}">Export</a>
            <a class="btn btn-warning btn-sm float-right" role="button"
               href="{% url 'mail' object.id %}">Emails</a>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card border-info">
                    <div class="card-header font-weight-normal  bg-info text-white h5"><strong>Commentaires</strong>
                        <div class="btn-group  float-right">
                            {% if not linerepart_list_matin %}
                                <a class="btn btn-warning btn-sm" role="button"
                                   href="{% url 'linerepartcreate' object.pk %}">Créer les postes </a>
                            {% endif %}

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                {{ object.description }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <div class="card mt-2">
                    <div class="card-header font-weight-normal bg-secondary text-white h5"><strong>Consultations
                        Matin</strong>
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12">
                            <table class="table table-striped table-bordered table-hover table-sm" id="cs-table-1">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Bureau</th>
                                    <th scope="col">Anesthésiste</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% include 'cs/partial_cs_matin_list.html' %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card mt-2">
                    <div class="card-header font-weight-normal bg-secondary text-white h5"><strong>Consultations
                        Après-midi</strong>
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12">
                            <table class="table table-striped table-bordered table-hover table-sm" id="cs-table-2">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Bureau</th>
                                    <th scope="col">Anesthésiste</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% include 'cs/partial_cs_apm_list.html' %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <div class="card mt-2 border-secondary">
                    <div class="card-header font-weight-normal h5"><strong>Salles Matin du {{ object.start }}</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-sm table-striped table-bordered table-hover" id="line-table1">
                                    <thead class="thead-light">
                                    <tr>
                                        <th class="text-center">Salle</th>
                                        <th class="text-center">Heure</th>
                                        <th>Chirurgien</th>
                                        <th>Anesthésiste</th>
                                        <th>Iade</th>
                                        <th>Interne</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% include 'line/partial_line_matin_list.html' %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card mt-2 border-secondary">
                    <div class="card-header font-weight-normal h5"><strong>Salles Après-midi
                        du {{ object.start }}</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-sm table-striped table-bordered table-hover" id="line-table2">
                                    <thead class="thead-light">
                                    <tr>
                                        <th class="text-center">Salle</th>
                                        <th>Chirurgien</th>
                                        <th>Anesthésiste</th>
                                        <th>Iade</th>
                                        <th>Interne</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% include 'line/partial_line_apm_list.html' %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block modal %}
    <div class="modal fade" id="modal-line">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>
{% endblock modal %}
{% block script %}
    <script>
        $(function () {

            /* Functions */

            var loadForm = function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-line .modal-content").html("");
                        $("#modal-line").modal("show");
                    },
                    success: function (data) {
                        $("#modal-line .modal-content").html(data.html_form);
                    }
                });
            };

            var saveForm = function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: 'json',
                    success: function (data) {
                        if (data.form_is_valid) {
                            $("#line-table1 tbody").html(data.html_repart_list);
                            $("#modal-line").modal("hide");
                        } else {
                            $("#modal-line .modal-content").html(data.html_form);
                        }
                    }
                });
                return false;
            };
            /* Binding */
            // Update repart
            $("#line-table1").on("click", ".js-view-linerepart1", loadForm);
            $("#modal-line").on("submit", ".js-line-update-form", saveForm);
        });

    </script>
    <script>
        $(function () {

            /* Functions */

            var loadForm2 = function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-line .modal-content").html("");
                        $("#modal-line").modal("show");
                    },
                    success: function (data) {
                        $("#modal-line .modal-content").html(data.html_form);
                    }
                });
            };

            var saveForm2 = function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: 'json',
                    success: function (data) {
                        if (data.form_is_valid) {
                            $("#line-table2 tbody").html(data.html_repart_list);
                            $("#modal-line").modal("hide");
                        } else {
                            $("#modal-line .modal-content").html(data.html_form);
                        }
                    }
                });
                return false;
            };
            /* Binding */
            // Update repart
            $("#line-table2").on("click", ".js-view-linerepart2", loadForm2);
            $("#modal-line").on("submit", ".js-line-update-form2", saveForm2);
        });

    </script>
    <script>
        $(function () {

            /* Functions */

            var loadForm3 = function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-line .modal-content").html("");
                        $("#modal-line").modal("show");
                    },
                    success: function (data) {
                        $("#modal-line .modal-content").html(data.html_form);
                    }
                });
            };

            var saveForm3 = function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: 'json',
                    success: function (data) {
                        if (data.form_is_valid) {
                            $("#cs-table-1 tbody").html(data.html_cs_list);
                            $("#modal-line").modal("hide");
                        } else {
                            $("#modal-line .modal-content").html(data.html_form);
                        }
                    }
                });
                return false;
            };
            /* Binding */
            // Update repart
            $("#cs-table-1").on("click", ".js-view-csrepart1", loadForm3);
            $("#modal-line").on("submit", ".js-cs-update-form", saveForm3);
        });

    </script>
    <script>
        $(function () {

            /* Functions */

            var loadForm4 = function () {
                var btn = $(this);
                $.ajax({
                    url: btn.attr("data-url"),
                    type: 'get',
                    dataType: 'json',
                    beforeSend: function () {
                        $("#modal-line .modal-content").html("");
                        $("#modal-line").modal("show");
                    },
                    success: function (data) {
                        $("#modal-line .modal-content").html(data.html_form);
                    }
                });
            };

            var saveForm4 = function () {
                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    dataType: 'json',
                    success: function (data) {
                        if (data.form_is_valid) {
                            $("#cs-table-2 tbody").html(data.html_cs_list);
                            $("#modal-line").modal("hide");
                        } else {
                            $("#modal-line .modal-content").html(data.html_form);
                        }
                    }
                });
                return false;
            };
            /* Binding */
            // Update repart
            $("#cs-table-2").on("click", ".js-view-csrepart2", loadForm4);
            $("#modal-line").on("submit", ".js-cs-update-form2", saveForm4);
        });

    </script>
{% endblock %}