{% for linerepart in linerepart_list_matin %}
    <tr class="{% if linerepart.room.sector.name == 'Nord' %}table-primary{% else %}table-info{% endif %} js-view-linerepart1"
        data-url="{% url 'lineupdate' linerepart.id %}">
        <td class="font-weight-bold text-center">{{ linerepart.room.number }}</td>
        <td class="text-center">{{ linerepart.start_time|default_if_none:"-" }}</td>
        <td>{{ linerepart.operator|default_if_none:"-" }}</td>
        {% if linerepart.rpt %}
            <td class="font-italic text-danger">{{ linerepart.rpt }}</td>
        {% else %}
            <td> {{ linerepart.are.name|default_if_none:"-" }}</td>
        {% endif %}
        <td>{{ linerepart.iade.forname|default_if_none:"-" }}</td>
        <td>{{ linerepart.interne|default_if_none:"-" }}</td>
    </tr>
{% empty %}
    <p class="text-center">Pas de salles enregistrées</p>
{% endfor %}