{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Anesthésiste{% endblock %}
{% block titre %}Mise à jour{% endblock %}
{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="card  mt-5">
                <div class="card-header font-weight-bold">Nouvel Anesthésiste</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3 text-left">
                            <label for="id_name" class="form-label">Nom</label>
                            {{ form.name|attr:"class:form-control" }}
                        </div>
                        <div class="col-sm-3 text-left">
                            <label for="id_forname" class="form-label">Prénom</label>
                            {{ form.forname|attr:"class:form-control" }}
                        </div>
                        <div class="col-sm-3 text-left">
                            <label for="telmob" class="form-label">Tél. Mobile</label>
                            {{ form.telmob|attr:"class:form-control" }}
                        </div>
                        <div class="col-sm-3 text-left">
                            <label for="id_tel2" class="form-label">Tél. Fixe</label>
                            {{ form.tel2|attr:"class:form-control" }}
                        </div>
                        <div class="col-sm-3 text-left">
                            <label for="id_phone_hop" class="form-label">Poste</label>
                            {{ form.phone_hop|attr:"class:form-control" }}
                        </div>
                        <div class="col-sm-3 text-left">
                            <label for="id_email" class="form-label">Email</label>
                            {{ form.email|attr:"class:form-control" }}
                        </div>
                    </div>
                </div>
                <div class="card  mt-5">
                    <div class="card-header font-weight-bold">Adresse</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3 text-left">
                                <label for="id_adress1" class="form-label">Adresse</label>
                                {{ form.adress1|attr:"class:form-control" }}
                                {{ form.adress2|attr:"class:form-control" }}
                            </div>
                            <div class="col-sm-3 text-left">
                                <label for="id_postalcode" class="form-label">Code Postal</label>
                                {{ form.postalcode|attr:"class:form-control" }}
                                <label for="id_town" class="form-label">Ville</label>
                                {{ form.town|attr:"class:form-control" }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card  mt-5">
                    <div class="card-header font-weight-bold">Administration</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3 text-left">
                                <label for="id_rpps" class="form-label">RPPS</label>
                                {{ form.rpps|attr:"class:form-control" }}
                                <label for="id_coNum" class="form-label">Conseil de l'ordre</label>
                                {{ form.coNum|attr:"class:form-control" }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div><input class="btn btn-success pull-left" type="submit" value="Envoyer"/></div>
                            </div>
                            <div class="col-sm-3">
                                <div><a href="{% url 'are_list' %}" class="btn btn-info pull-left"
                                        role="button">Annuler</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block script %}
{% endblock %}
